/* allgemeine-section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Inter;
  color: white;
  background-color: #101014;
}
.btn-blue {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #72d3ff;
  border-radius: 8px;
}

.btn-blue:hover {
  background-color: #a5e2fe;
}

.btn-ghost {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  border: 0.5px solid #fff;
}

.btn-white {
}

main {
  width: 1044px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  height: 500px;
}

#hero-left {
  width: 577px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero-unreal-logo {
  width: 204px;
  height: 30px;
}

h1 {
  font-size: 48px;
  line-height: 15px;
}

#hero-text {
  font-size: 16px;
  line-height: 27px;
}

#hero-buttons {
  display: flex;
  gap: 20px;
}

#hero-right {
  z-index: -1;
  width: 780px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#hero-img {
  border-radius: 80px;
}
