/* allgemeine-section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Inter;
}
.btn-blue {
}

.btn-white {
}

main {
  width: 1044px;
  display: flex;
  flex-direction: column;
}
